@media screen and (min-width: var(--screen-xs)) {
	.container {
		width: 100%;
		padding: 0 24px;
	}
}

@media screen and (min-width: var(--screen-xxl)) {
	.container {
		width: 100%;
		padding: 0 150px;
	}
}
