*,
*::before,
*::after {
	box-sizing: border-box;
}

@media screen and (min-width: 768px) {
	:root {
		--fs-root: 13px;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		--fs-root: 14px;
	}
}

html {
	font-size: var(--fs-root);
}
