:root {
	--primary-color: #F4F4F4;
	--secondary-color: #004050;

	/*define root font-size*/
	--fs-root: 12px;

	/*define font-family*/
	--satoshi: Satoshi;

	/*define color*/
	--black: #000;
	--white: #FFF;
	--pearl-white: #F4F4F4;
	--grey: #787878;
	--dark-blue: blue;
}
