.member-avt {
	width: 100%;
	height: auto;
	margin: 0 0 1rem;
}

.member-name {
	color: var(--black);
	font-size: 1.167rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 0 0 0.167rem;
}

.member-job {
	color: var(--black);
	font-size: var(--fs-root);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media screen and (min-width: 1024px) {
	.member-name {
		font-size: 1.714rem;
	}
}
