* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	margin: 0;
}

.header {
	padding: 60px;
	text-align: center;
	background: #e90ae9;
	color: white;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	background-color: #333;
}

.navbar a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	width: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}

.main {
	width: 70%;
	background-color: white;
	padding: 20px;
}

.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
}

@media only screen and (max-width: 768px) {

	.navbar {
		flex-direction: column;
	}

	.side,
	.main {
		flex-direction: column;
		width: 100%;
	}
}
