/*gap: 32px 0*/
.access {
	display: grid;
	grid-template-columns: 1fr;
	gap: calc((32 / var(--fs-root)) * 1rem) 0;
}

/*margin: 72px 0 16px*/
.access-content {
	margin: calc((72 / var(--fs-root)) * 1rem) 0 calc((16 / var(--fs-root)) * 1rem);
}

/*width: 106px - height: 22px*/
.access-logo {
	display: inline-block;
	width: calc((106 / var(--fs-root)) * 1rem);
	height: calc((22 / var(--fs-root)) * 1rem);
}

.logo-img {
	width: 100%;
	height: auto;
}

/*font-size: 14px*/
/*line-height: 24px*/
/*margin: 24px 0*/
.access-title {
	color: #404040;
	font-family: Satoshi;
	font-size: calc((14 / var(--fs-root)) *1rem);
	font-style: normal;
	font-weight: 400;
	line-height: calc((24 / var(--fs-root)) * 1rem);
	margin: calc((24 / var(--fs-root)) * 1rem) 0;
}

/*gap: 0 16px*/
.media-list {
	display: flex;
	gap: 0 calc((16 / var(--fs-root)) * 1rem);
}

/*width: 24px - height: 24px*/
.media-item {
	display: inline-block;
	width: calc((24 / var(--fs-root)) * 1rem);
	height: calc((24 / var(--fs-root)) * 1rem);
	cursor: pointer;
}

.media__item:active {
	opacity: 0.7;
}

.media__img {
	width: 100%;
	height: auto;
}

/*font-size: 16px*/
.access-subtitle {
	color: #000;
	font-family: Satoshi;
	font-size: calc((16 / var(--fs-root)) * 1rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/*font-size: 14px*/
/*line-height: 34px*/
.access-link {
	text-decoration: none;
	color: #000;
	font-family: Satoshi;
	font-size: calc((14 / var(--fs-root)) * 1rem);
	font-style: normal;
	font-weight: 400;
	line-height: calc((34 / var(--fs-root)) * 1rem);
	cursor: pointer;
}

.access-link:hover {
	color: blue;
}

.access-link:active {
	opacity: 0.7;
}

@media screen and (min-width: 1024px) {

	/*padding-top: 120px*/
	.access {
		padding-top: calc((120 / var(--fs-root)) * 1rem);
		display: grid;
		grid-template-columns: minmax(auto, calc((390 / var(--fs-root)) * 1rem)) repeat(4, auto);
		/* grid-template-columns: minmax(auto, calc((263 / var(--fs-root)) * 1rem)) repeat(4, auto); */
	}

	/*padding-right: 127px*/
	.access-title {
		padding: 0 calc((127 / var(--fs-root)) * 1rem) 0 0;
	}


	/*padding-left: 20px*/
	.access-navigation {
		padding: 0 0 0 calc((20 / var(--fs-root)) * 1rem);
	}

	/*margin: 0 127px 0 0*/
	.access-content {
		/* margin: 0 calc((127 / var(--fs-root)) * 1rem) 0 0; */
		margin: 0;
	}

}
