.contact {
	background-color: var(--secondary-color);
	padding-bottom: calc((50 / var(--fs-root)) * 1rem);
}

.contact-content-wrapper {
	padding: calc((72 / var(--fs-root)) * 1rem) 0 0;
}

.contact-content {
	margin: 0 0 calc((32 / var(--fs-root)) * 1rem);
	border-bottom: 1px solid #fff;
}

.contact-title {
	color: #FFF;
	font-family: Satoshi;
	font-size: calc((36 / var(--fs-root)) * 1rem);
	font-style: normal;
	font-weight: 700;
	line-height: calc((46 / var(--fs-root)) * 1rem);
	letter-spacing: calc((0.5 / var(--fs-root)) * 1rem);
}

.contact-description {
	margin: calc((16 / var(--fs-root)) * 1rem) 0 calc((48 / var(--fs-root)) * 1rem);
	color: #FFF;
	font-family: Satoshi;
	font-size: calc((16 / var(--fs-root)) * 1rem);
	font-style: normal;
	font-weight: 500;
	line-height: calc((26 / var(--fs-root)) * 1rem);
	opacity: 0.7;
}

.contact-access {
	display: grid;
	grid-template-columns: auto;
	align-items: center;
	justify-content: center;
}

.contact-btn {
	border: none;
	border-radius: calc((8 / var(--fs-root)) * 1rem);
	background: #FFF;
	display: flex;
	text-align: center;
	align-items: center;
	padding: calc((21 / var(--fs-root)) * 1rem) calc((63 / var(--fs-root)) * 1rem) calc((19 / var(--fs-root)) * 1rem);
	/*text*/
	color: #000;
	font-family: Satoshi;
	font-size: calc((18 / var(--fs-root)) * 1rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: calc((0.5 / var(--fs-root)) * 1rem);
	gap: calc((27 / var(--fs-root)) * 1rem);
	cursor: pointer;
	margin: 0 0 calc((48 / var(--fs-root)) * 1rem);
}

.btn-arrow {
	background: url(/src/assets/images/buttons/contact-arrow.svg);
	width: calc((24 / var(--fs-root)) * 1rem);
	height: calc((24 / var(--fs-root)) * 1rem);
	float: right;
}

.contact-link {
	color: #FFF;
	font-family: Satoshi;
	font-size: calc((18 / var(--fs-root)) * 1rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: calc((0.1 / var(--fs-root)) * 1rem);
	text-align: center;
	margin: 0 0 calc((61 / var(--fs-root)) * 1rem);
}

/*padding-right: 44px*/
.contact-design {
	min-width: calc((230 / var(--fs-root)) * 1rem);
	min-height: calc((279 / var(--fs-root)) * 1rem);
	padding: 0 calc((44 / var(--fs-root)) * 1rem) 0 0;
}

.contact-img {
	border-radius: calc((10 / var(--fs-root)) * 1rem);
	width: 100%;
	height: auto;
}

@media screen and (min-width: 768px) {

	.contact-title {
		text-align: center;
	}

	.contact-description {
		text-align: center;
	}

}

@media screen and (min-width: 1024px) {

	.contact {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding-bottom: calc((88 / var(--fs-root)) * 1rem);
	}

	/*padding: 21px 24px 19px 32px*/
	.contact-btn {
		padding: calc((21 / var(--fs-root)) * 1rem) calc((24 / var(--fs-root)) * 1rem) calc((19 / var(--fs-root)) * 1rem) calc((32 / var(--fs-root)) * 1rem);
	}

	/*padding-top: 120px*/
	.contact-content-wrapper {
		padding: calc((120 / var(--fs-root)) * 1rem) 0 0;
	}

	.contact-title {
		font-size: calc((45 / var(--fs-root)) * 1rem);
		line-height: calc((52 / var(--fs-root)) * 1rem);
		letter-spacing: calc((1 / var(--fs-root)) * 1rem);
		text-align: unset;
	}

	/*margin: 32px 0 64px*/
	/*font-size: 18px*/
	/*line-height: 28px*/
	/*lett-spacing: 0.2px*/
	/*padding-right: 143px*/
	.contact-description {
		margin: calc((32 / var(--fs-root)) * 1rem) 0 calc((64 / var(--fs-root)) * 1rem);
		font-size: calc((18 / var(--fs-root)) * 1rem);
		line-height: calc((28 / var(--fs-root)) * 1rem);
		letter-spacing: calc((0.2 / var(--fs-root)) * 1rem);
		padding: 0 calc((143 / var(--fs-root)) * 1rem) 0 0;
		text-align: unset;
	}

	/*gap: 0 34px*/
	.contact-access {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 0 calc((34 / var(--fs-root)) * 1rem);
	}


	/*margin-bottom: 48px*/
	.contact-content {
		margin: 0 0 calc((48 / var(--fs-root)) * 1rem);
	}

	/*margin-bottom: 49px*/
	.contact-link {
		margin: 0 0 calc((49 / var(--fs-root)) * 1rem);
	}

	/*min-width: 324px - min-height: 393px*/
	/*margin: 120px 0 0 80px*/
	.contact-design {
		min-width: calc((324 / var(--fs-root)) * 1rem);
		min-height: calc((393 / var(--fs-root)) * 1rem);
		margin: calc((120 / var(--fs-root)) * 1rem) 0 0 calc((80 / var(--fs-root)) * 1rem);
	}

}

@media screen and (min-width: 1200px) {

	/*font-size: 64px*/
	/*line-height: 74px*/
	.contact-title {
		font-size: calc((64 / var(--fs-root)) * 1rem);
		line-height: calc((74 / var(--fs-root)) * 1rem);
	}

	/*min-width: 457px - min-height: 554px*/
	/*margin: 120px 0 0 113px*/
	.contact-design {
		min-width: calc((457 / var(--fs-root)) * 1rem);
		min-height: calc((554 / var(--fs-root)) * 1rem);
		margin: calc((120 / var(--fs-root)) * 1rem) 0 0 calc((113 / var(--fs-root)) * 1rem);
		padding: 0;
	}

}

@media screen and (min-width: 1440px) {

	/*gap: 0 48px*/
	.contact-access {
		gap: 0 calc((48 / var(--fs-root)) * 1rem);
	}

}
