.education {
  width: var(--max-width);
  margin: auto;
  cursor: default;
}

.education__title {
  color: var(--primary-color);
  text-align: center;
  font-family: Epilogue-SemiBold;
  font-size: 28px;
  text-transform: capitalize;
  margin: 79px 0 109px;
  line-height: normal;
  font-style: normal;
}
