.experience {
	width: var(--max-width);
	height: 692px;
	margin: 0 auto;
	background-color: var(--light-blue-color);
	position: relative;
}

.experience-logo {
	width: 128px;
	height: 144px;
	mix-blend-mode: multiply;
	position: absolute;
	top: 178px;
	right: 378px;
}

.experience-title {
	color: var(--primary-color);
	font-family: Epilogue-SemiBold;
	font-size: 28px;
	text-transform: capitalize;
	position: absolute;
	top: 72px;
	left: 119px;
}

.experience-article {
	position: absolute;
	top: 178px;
	left: 183px;
	width: 915px;
	padding: 0 0 45px 0;
	border-bottom: 2px solid #fff;
}

.experience-article-subtitle {
	color: var(--primary-color);
	font-family: Open Sans-Bold;
	font-size: 20px;
	cursor: pointer;
}

.experience-article-content {
	width: 673px;
	margin: 17px 0 0 23px;
	color: #555;
	font-family: Open Sans-Regular;
	font-size: 15px;
}

.experience-article-expand {
	position: absolute;
	top: 381px;
	left: 183px;
}

.experience-expand-subtitle {
	color: rgba(0, 0, 0, 0.87);
	font-family: Open Sans-Bold;
	font-size: 20px;
	padding: 0 0 28px 0;
	margin: 0 0 28px 0;
	width: 915px;
	border-bottom: 2px solid #fff;
	cursor: pointer;
}
