.header {
	display: flex;
	width: var(--max-width);
	margin: auto;
}

.header__logo {
	width: 85px;
	height: 76px;
	margin: 12px 0 12px 70px;
	background: url(../../images/logos/main-logo.png);
}

/*------------------------------------*\
  .HEADER-FORM
\*------------------------------------*/

.header__form {
	margin: 30px 0 26px 70px;
}

.header__input {
	display: inline-block;
	height: 44px;
	background: #FCFCFC;
	border: 1px solid var(--primary-color);
}

.header__input--locate {
	width: 152px;
	border-radius: 10px 0px 0px 10px;
	border-right: none;
	float: left;
}

.header__icon--locate {
	width: 11px;
	height: 18px;
	margin: 0 12px;
}

.header__input--search {
	width: 428px;
	border-radius: 0px 10px 10px 0px;
}

.header__icon--search {
	width: 17px;
	height: 18px;
	margin: 0 10px 0 19px;
}

.input__content {
	height: 23px;
	border: none;
	outline: none;
	background-color: transparent;
	font-family: Open Sans-Regular;
	font-size: 14px;
	line-height: 22px;
	font-style: normal;
}

.input__content::placeholder {
	color: var(--disabled);
}

.input__content--locate {
	width: 60px;
	margin: 11px 0;
}

.input__content--search {
	width: 260px;
	margin: 11px 0;
}

/*------------------------------------*\
  .HEADER-NAVIGATION
\*------------------------------------*/

.header__nav {
	margin: 41px 78px 0 43px;
}

.header__nav__list {
	display: flex;
	gap: 44px;
	text-decoration: none;
}

.nav__item {
	text-decoration: none;
	color: #545454;
	font-family: Open Sans-Regular;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	cursor: pointer;
}

.nav__item:active {
	color: var(--disabled);
}

.header__btn {
	width: 47px;
	height: 54px;
	margin: 26px 0 0;
	cursor: pointer;
	background: transparent;
	border: none;
}
