.information {
	width: var(--max-width);
	margin: 0 auto 140px auto;
	display: flex;
	position: relative;
	gap: 27px;
	cursor: default;
}

.information-image {
	width: 490px;
	height: 360px;
	margin: 247px 0 0 119px;
}

.information-title {
	color: var(--primary-color);
	font-family: Epilogue-SemiBold;
	font-size: 28px;
	text-transform: capitalize;
	position: absolute;
	top: 246px;
	left: 636px;
	cursor: pointer;
}

.information-title:active {
	opacity: 0.9;
}

.information-content {
	color: #555;
	font-family: Open Sans-regular;
	font-size: 16px;
	line-height: 33px;
	text-transform: capitalize;
	margin: 316px 158px 0 0;
}
