.introduce-content {
	padding: 2.833rem 0 6.667rem;
	margin: 3.833rem 0 0;
	border-top: 0.083rem solid var(--grey);
	border-bottom: 0.083rem solid var(--grey);
}

.introduce-title {
	color: var(--black);
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
	line-height: 3.833rem;
	letter-spacing: 0.042rem;
	margin: 0 0 2rem;
}

.introduce-subtitle {
	color: var(--black);
	font-size: 1.667rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.5rem;
	margin: 0 0 2rem;
}

.introduce-description {
	color: var(--black);
	font-size: 1.333rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.167rem;
	margin: 0 0 4rem;
}

.introduce-nametag {
	display: flex;
	gap: 0 1rem;
	margin: 0 0 1.917rem;
}

.nametag-image-wrapper {
	width: 3.333rem;
	height: 3.333rem;
}

.nametag-image {
	width: 100%;
	height: auto;
}

.nametag-item {
	color: var(--black);
	font-size: 1.167rem;
	font-style: normal;
	line-height: normal;
}

.nametag-name {
	font-weight: 700;
}

.nametag-job {
	font-weight: 400;
}

.introduce-quote {
	color: var(--black);
	font-size: 2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.833rem;
	letter-spacing: -0.025rem;
}

.introduce-aside {
	padding: 2.667rem 0 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: 4rem 0;
}

.aside-description {
	color: #1B2730;
	font-size: 1.333rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.167rem;
	margin: 0 0 1rem;
}

.aside-number {
	color: var(--black);
	font-size: 4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 4rem;
	letter-spacing: 0.083rem;
}

@media screen and (min-width: 1024px) {
	.introduce-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 8.357rem 0 0;
		padding: 3.429rem 0 8.571rem;
		border-top: 0.071rem solid var(--grey);
		border-bottom: 0.071rem solid var(--grey);
	}

	.introduce-title {
		font-size: 4.571rem;
		line-height: 5.286rem;
		padding: 0 8rem 0 0;
	}

	.introduce-post {
		padding: 0.714rem 0 0 1.214rem;
	}

	.introduce-subtitle {
		font-size: 1.714rem;
		line-height: 2.429rem;
		margin: 0 0 2.571rem;
	}

	.introduce-description {
		font-size: 1.286rem;
		line-height: 2rem;
		margin: 0 0 5.143rem;
	}

	.introduce-nametag {
		padding: 0.929rem 0 0;
	}

	.nametag-image-wrapper {
		width: 3.429rem;
		height: 3.429rem;
	}

	.nametag-name {
		font-size: 1.143rem;
	}

	.introduce-quote {
		font-size: 3.429rem;
		line-height: 4.143rem;
		padding: 0 0 0 1.214rem;
	}

	.introduce-aside {
		grid-template-columns: repeat(3, minmax(auto, 20.857rem));
		padding: 3.429rem 0 12.143rem;
		gap: 0 5rem;
	}

	.aside-description {
		font-size: 0.929rem;
		line-height: 2rem;
		margin: 0 0 0.571rem;
	}

	.aside-number {
		font-size: 5rem;
		line-height: normal;
		letter-spacing: -0.093rem;
	}

	@media screen and (min-width: 1440px) {
		.introduce-aside {
			gap: 0 7rem;
		}

		.aside-description {
			font-size: 1.286rem;
		}

		.aside-number {
			font-size: 6.857rem;
		}
	}
}
