.introduce {
	width: var(--max-width);
	height: 692px;
	background: var(--light-blue-color);
	margin: auto;
	position: relative;
}

/*------------------------------------*\
  .INTRODUCE-CONTENT
\*------------------------------------*/

.introduce__content {
	display: flex;
	justify-content: space-between;
	padding: 100px 97px 0 104px;
}

.introduce__title {
	color: var(--primary-color);
	font-family: Epilogue-Bold;
	font-size: 36px;
	letter-spacing: 2px;
	text-transform: capitalize;
	font-style: normal;
	line-height: normal;
}

.introduce__detail {
	max-width: 646px;
	display: flex;
	flex-direction: column;
	gap: 39px;
}

.introduce__item {
	color: #555;
	font-family: Open Sans-Regular;
	font-size: 16px;
	line-height: 33px;
	font-style: normal;
	text-transform: capitalize;
}

/*------------------------------------*\
  .INTRODUCE-CALENDAR
\*------------------------------------*/

.introduce__calendar {
	max-width: 449px;
	min-height: 431px;
	border-radius: 20px;
	background-color: var(--primary-color);
	color: #fff;
}

.introduce__heading {
	max-width: 323px;
	text-align: center;
	margin: auto;
	padding: 36px 0 15px 0;
	font-family: Epilogue-Bold;
	font-size: 28px;
	letter-spacing: 1px;
	text-transform: capitalize;
	border-bottom: 1px solid #fff;
	font-style: normal;
	line-height: normal;
}

.introduce__table {
	margin: 4px 36px -34px 30px;
	min-width: 383px;
	border-collapse: separate;
	border-spacing: 0 34px;
}

.introduce__date {
	font-family: Epilogue-SemiBold;
	font-size: 24px;
	text-transform: capitalize;
	font-style: normal;
	line-height: normal;
}

.introduce__time {
	text-align: right;
	font-family: Epilogue-SemiBold;
	font-size: 18px;
	text-transform: capitalize;
	font-style: normal;
	line-height: normal;
}

.introduce__note {
	font-family: Epilogue-Regular;
	font-size: 14px;
	text-transform: capitalize;
	margin: 22px 0 32px 30px;
	font-style: normal;
	line-height: normal;
}

.introduce__contact {
	max-width: 323px;
	margin: auto;
	font-family: Epilogue-Bold;
	text-transform: capitalize;
	border-top: 1px solid #fff;
	font-style: normal;
	line-height: normal;
}

.introduce__subtitle {
	font-size: 20px;
	text-align: center;
	padding: 17px 0;
}

.introduce__call {
	display: block;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
}

.introduce__call:link {
	text-decoration: none;
	color: #fff;
}

.introduce__call:active {
	opacity: 0.8;
}

/*------------------------------------*\
  .INTRODUCE-GALLERY
\*------------------------------------*/

.gallery__btn {
	width: 24px;
	height: 40px;
	position: absolute;
	bottom: -20px;
	background: none;
	border: none;
	padding: 0;
	transition: 0.2s;
	cursor: pointer;
}

.gallery__btn:hover {
	transform: scale(1.1);
}

.gallery__btn:active {
	transform: scale(1);
}

.gallery__btn--left {
	left: 55px;
}

.gallery__btn--right {
	right: 55px;
}

.gallery__arrow {
	width: 24px;
	height: 40px;
}

.introduce__gallery {
	max-width: var(--max-width);
	margin: 65px auto;
	display: flex;
	justify-content: center;
	gap: 32px;
}

.introduce__image {
	width: 274px;
	height: 206px;
	cursor: pointer;
}
