.member {
	background-color: #F4F4F4;
	padding: 6rem 0 0;
}

.member-title {
	color: var(--black);
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
	line-height: 3.833rem;
	letter-spacing: 0.042rem;
	margin: 0 0 4rem;
}

.member-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-top: 0.083rem solid var(--grey);
	border-bottom: 0.083rem solid var(--grey);
	gap: 2.667rem 0.833rem;
	padding: 2.667rem 0 4.667rem;
}

@media screen and (min-width: 768px) {
	.member-content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.member {
		margin: 0 0 0;
		padding: 8.571rem 0 0;
	}

	.member-title {
		font-size: 4.571rem;
		font-style: normal;
		font-weight: 700;
		line-height: 5.286rem;
		letter-spacing: 0.071rem;
		padding: 0 45rem 0 0;
		margin: 0 0 5.143rem;
	}

	.member-content {
		padding: 3.429rem 0 12.857rem;
		gap: 3.429rem 2.143rem;
	}
}
