.profile {
	width: var(--max-width);
	height: 547px;
	margin: 0 auto;
	position: relative;
	cursor: default;
}

.profile-title {
	color: #000;
	font-family: Open Sans-Bold;
	font-size: 28px;
	text-transform: capitalize;
	margin: 17px 0 0 441px;
}

.profile-cover {
	width: 100%;
	height: 258px;
}

.profile-avatar {
	display: flex;
	width: 315px;
	height: 315px;
	position: absolute;
	top: 68px;
	left: 104px;
}

.profile-contents {
	display: flex;
	height: 289px;
	justify-content: space-between;
}

.profile-article {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 441px;
}

.profile-article-title {
	color: #555;
	font-family: Montserrat-Regular;
	font-size: 20px;
	text-transform: capitalize;
	margin: 12px 0 0 0;
}

.profile-article-content {
	color: #555;
	font-family: Montserrat-Regular;
	font-size: 16px;
	line-height: 23px;
	text-transform: capitalize;
	margin: 14px 0 0 0;
}

.profile-article-btn {
	width: 223px;
	height: 37px;
	border-radius: 10px;
	border: none;
	background-color: var(--primary-color);
	color: #FFF;
	font-family: Open Sans-Bold;
	font-size: 13px;
	margin: 23px 0 0 0;
	cursor: pointer;
}

.profile-article-btn:active {
	opacity: 0.9;
}

.profile-nav-list {
	display: flex;
	gap: 0 22px;
	position: absolute;
	top: 286px;
	right: 97px;
}

.profile-nav-item {
	width: 32px;
	height: 32px;
	transition: 0.2s;
}
