.profile {
	width: var(--max-width);
	min-height: 547px;
	margin: auto;
	position: relative;
	background: url(/src/assets/images/profiles/cover.png) no-repeat;
	display: flex;
	justify-content: space-between;
}

.profile__title {
	font-family: Open Sans-Bold;
	font-size: 28px;
	color: #000;
	text-transform: capitalize;
}

.profile-cover {
	width: 100%;
	min-height: 258px;
}

.profile__avatar {
	width: 315px;
	height: 315px;
	position: absolute;
	top: 68px;
	left: 104px;
}

.profile__content {
	padding: 275px 0 0 441px;
}

.profile__content__title {
	color: #555;
	font-family: Montserrat-Regular;
	font-size: 20px;
	text-transform: capitalize;
	padding: 12px 0 14px 0;
}

.profile__content__detail {
	color: #555;
	font-family: Montserrat-Regular;
	font-size: 16px;
	line-height: 23px;
	text-transform: capitalize;
	margin: 0 0 23px 0;
}

.profile__content__btn {
	width: 223px;
	height: 37px;
	border-radius: 10px;
	background-color: var(--primary-color);
	border: none;
	color: #FFF;
	font-family: Open Sans-Bold;
	font-size: 13px;
	cursor: pointer;
	transition: 0.2s;
}

.profile__content__btn:hover {
	opacity: 0.9;
}

.profile__content__btn:active {
	opacity: 0.7;
}

.profile__media {
	display: flex;
	gap: 22px;
	padding: 286px 97px 0 0;
}

.media__icon {
	width: 32px;
	height: 32px;
	transition: 0.2s;
}

.media__icon:hover {
	opacity: 0.9;
}

.media__icon:active {
	opacity: 0.7;
}
