.readmore {
  margin: auto;
  width: var(--max-width);
  min-height: 1167px;
  position: relative;
  cursor: default;
}

.readmore__title {
  width: 427px;
  padding: 467px 0 0 37px;
  color: var(--primary-color);
  font-family: Epilogue-SemiBold;
  font-size: 28px;
  font-style: normal;
  line-height: 36px;
  text-transform: capitalize;
}

.readmore__content {
  width: 100%;
  min-height: 338px;
  margin: 0 auto;
  background-color: var(--light-blue-color);
  position: absolute;
  top: 414px;
}

.readmore__detail {
  color: #555;
  font-family: Open Sans-Regular;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
}

.readmore__detail--center {
  width: 316px;
  height: 40px;
  margin: 144px 0 0 37px;
}

/*------------------------------------*\
  .BTN-ARROW
\*------------------------------------*/

.readmore__btn--arrow {
  font-family: Open Sans-SemiBold;
  padding: 38px 0 0 293px;
  background: none;
  border: none;
  cursor: pointer;
}

.readmore__btn--arrow:active {
  opacity: 0.8;
}

.readmore__icon {
  width: 22px;
  height: 14px;
  fill: var(--primary-color);
}

/*------------------------------------*\
  .CARD--LARGE
\*------------------------------------*/

.readmore__card {
  width: 850px;
  height: 770px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 185px;
  right: 39px;
}

.readmore__card--large {
  width: 457px;
  height: 526px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  z-index: 0;
}

.readmore__img--large {
  width: 100%;
  height: 345px;
  object-fit: cover;
}

.readmore__subtitle {
  color: var(--primary-color);
  font-family: Open Sans-Bold;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  margin: 21px 0 0 14px;
}

.readmore__detail--large {
  width: 400px;
  margin: 14px 0 10px 14px;
}

.readmore__btn--large {
  font-family: Open Sans-Regular;
  margin: 0 0 0 320px;
  cursor: pointer;
}

.readmore__btn--large:active {
  opacity: 0.8;
}

/*------------------------------------*\
  .CARD--NORMAL
\*------------------------------------*/

.readmore__card--normal {
  width: 373px;
  height: 375px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  object-fit: cover;
}

.readmore__img--normal {
  width: 100%;
  height: 240px;
}

.readmore__detail--normal {
  width: 316px;
  margin: 13px 0 0 13px;
}

.readmore__btn--normal {
  font-family: Open Sans-Regular;
  margin: 0 0 0 242px;
  cursor: pointer;
}

.readmore__btn--normal:active {
  opacity: 0.8;
}
