.recruit {
	margin: 2.75rem 0 5.833rem;
}

.recruit-title {
	color: var(--black);
	font-size: 3rem;
	font-style: normal;
	font-weight: 700;
	line-height: 3.833rem;
	letter-spacing: 0.042rem;
}

.recruit-description {
	color: #1B2730;
	font-size: 1.333rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.167rem;
	margin: 1.333rem 0 2rem;
}

.recruit-btn {
	padding: 0;
	color: var(--black);
	font-size: 1.667rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.058rem;
	background: none;
	border: none;
	cursor: pointer;
}

.recruit-btn:active {
	opacity: 0.7;
}

.recruit-btn-green {
	background: url(/src/assets/images/buttons/green-arr-btn.svg);
	width: 2rem;
	height: 2rem;
	float: right;
}

@media screen and (min-width: 1024px) {

	.recruit {
		margin: 3.5rem 0 8.429rem;
	}

	.recruit-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.recruit-title {
		margin: 1.214rem 0 0;
		font-size: 4.571rem;
	}

	.recruit-access {
		margin: 0 0 0 0.929rem;
	}

	.recruit-description {
		font-size: 1.286rem;
		line-height: 2rem;
		margin: 0 0 2.286rem;
	}

	.recruit-btn {
		font-size: 1.429rem;
	}
}
