.recruit {
	margin: calc((33 / var(--fs-root)) * 1rem) 0 calc((70 / var(--fs-root)) * 1rem);
}

.recruit-title {
	color: #000;
	font-family: Satoshi;
	font-size: calc((36 / var(--fs-root)) * 1rem);
	font-style: normal;
	font-weight: 700;
	line-height: calc((46 / var(--fs-root)) * 1rem);
	letter-spacing: calc((0.5 / var(--fs-root)) * 1rem);
}

.recruit-description {
	color: #1B2730;
	font-family: Satoshi;
	font-size: calc((16 / var(--fs-root)) *1rem);
	font-style: normal;
	font-weight: 500;
	line-height: calc((26 / var(--fs-root)) * 1rem);
	margin: calc((16 / var(--fs-root)) * 1rem) 0 calc((24 / var(--fs-root)) * 1rem);
}

.recruit-btn {
	padding: 0;
	color: #000;
	font-family: Satoshi;
	font-size: calc((20 / var(--fs-root)) * 1rem);
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: calc((0.7 / var(--fs-root)) * 1rem);
	background: none;
	border: none;
	position: relative;
	cursor: pointer;
}

.recruit-btn:active {
	opacity: 0.7;
}

.recruit-btn-green {
	background: url(/src/assets/images/buttons/green-arr-btn.svg);
	width: calc((24 / var(--fs-root)) * 1rem);
	height: calc((24 / var(--fs-root)) * 1rem);
	float: right;
}

@media screen and (min-width: 1024px) {

	.recruit {
		margin: calc((70 / var(--fs-root)) * 1rem) 0 calc((118 / var(--fs-root)) * 1rem);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.recruit-title {
		font-size: calc((45 / var(--fs-root)) * 1rem);
	}

	.recruit-content {
		margin: calc((-21 / var(--fs-root)) * 1rem) 0 0 calc((16 / var(--fs-root)) * 1rem);
	}

	.recruit-description {
		font-size: calc((18 / var(--fs-root)) * 1rem);
		line-height: calc((28 / var(--fs-root)) * 1rem);
		margin: 0 0 calc((31 / var(--fs-root)) * 1rem);
	}
}

@media screen and (min-width: 1200px) {
	.recruit-title {
		font-size: calc((64 / var(--fs-root)) * 1rem);
	}
}
