.subscribe {
  width: var(--max-width);
  height: 200px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  position: relative;
  cursor: default;
}

.subscribe-title {
  color: rgba(255, 255, 255, 0.90);
  font-family: Roboto-Bold;
  font-size: 28px;
  font-style: normal;
  line-height: 120%;
  position: absolute;
  top: 62px;
  left: 152px;
}

.subscribe-content {
  display: flex;
  padding: 66px 0 0 152px;
  align-items: flex-end;
}

.subscribe-content-post {
  width: 368px;
  color: #FFF;
  font-family: Open Sans-Regular;
  font-size: 15px;
  font-style: normal;
  line-height: 120%;
  padding: 40px 179px 0 0;
}

.subscribe-form-label {
  color: #B2DDED;
  font-family: FjallaOne-Regular;
  font-size: 23px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 19px 0;
}

.subscribe-form-input {
  width: 354px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid var(--primary-soft);
  background: transparent;
  box-sizing: border-box;
}

.subscribe-form-input::placeholder {
  color: var(--primary-soft);
  font-family: Roboto-Regular;
  font-size: 16px;
  font-style: normal;
  line-height: 120%;
  padding: 0 0 0 10px;
}

.subscribe-btn {
  /*layout*/
  display: flex;
  width: 150px;
  height: 48px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  /*content*/
  color: var(--secondary-color);
  font-family: Roboto-Bold;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  margin: 0 0 0 10px;
  transition: 0.2s;
  z-index: 1;
}

.subscribe-btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.subscribe-btn:active {
  opacity: 0.5;
}

.subscribe-image {
  position: absolute;
  top: -79px;
  right: 46px;
}
