.subscribe {
  width: var(--max-width);
  margin: auto;
  background-color: var(--secondary-color);
  position: relative;
  /* cursor: default; */
  padding: 66px 225px 46px 152px;
}

.subscribe__content {
  display: flex;
  justify-content: space-between;
}

.subscribe__title {
  color: rgba(255, 255, 255, 0.90);
  font-family: Roboto-Bold;
  font-size: 28px;
  font-style: normal;
  line-height: 1.2;
}

.subscribe__detail {
  width: 368px;
  color: #FFF;
  font-family: Open Sans-Regular;
  font-size: 15px;
  font-style: normal;
  line-height: 1.5;
  padding: 10px 0 0 0;
}

.subscribe__form {
  margin: -45px 0 0 179px;
}

.subscribe__heading {
  color: #B2DDED;
  font-family: FjallaOne-Regular;
  font-size: 23px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 19px 0;
}

.subscribe__input {
  width: 354px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid var(--blue-soft);
  background: transparent;
  box-sizing: border-box;
}

.subscribe__input::placeholder {
  color: var(--blue-soft);
  font-family: Roboto-Regular;
  font-size: 16px;
  font-style: normal;
  line-height: 120%;
  padding: 0 0 0 10px;
}

.subscribe__btn {
  /*layout*/
  width: 150px;
  height: 48px;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  /*content*/
  color: var(--secondary-color);
  font-family: Roboto-Bold;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  transition: 0.2s;
  z-index: 1;
}

.subscribe__btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.subscribe__btn:active {
  opacity: 0.5;
}

.subscribe__pattern {
  position: absolute;
  top: -79px;
  right: 46px;
}
