<section class="access">
	<div class="access__post">
		<a href="javascript:void(0)">
			<img src="./assets/images/logos/header-logo.svg" alt="access-logo">
		</a>
		<h2 class="access__content">We built an elegant solution&period;<br /> Our team created a fully integrated sales and
			marketing solution for SMBs</h2>
		<nav class="access__media">
			<ul class="media__list">
				<li class="media__item">
					<a href="javascript:void(0)">
						<img class="media__img" src="./assets/images/medias/twitter-circle.svg" alt="twitter-circle">
					</a>
				</li>
				<li class="media__item">
					<a href="javascript:void(0)">
						<img src="./assets/images/medias/facebook-circle.svg" alt="facebook-circle">
					</a>
				</li>
				<li class="media__item">
					<a href="javascript:void(0)">
						<img src="./assets/images/medias/linkedin-circle.svg" alt="linkedin-circle">
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<nav class="access__nav">
		<h3 class="access__subtitle">Company</h3>
		<ul class="access__list">
			<li><a class="access__link" href="javascript:void(0)">About</a></li>
			<li><a class="access__link" href="javascript:void(0)">Pricing</a></li>
			<li><a class="access__link" href="javascript:void(0)">Jobs</a></li>
			<li><a class="access__link" href="javascript:void(0)">Blogs</a></li>
			<li><a class="access__link" href="javascript:void(0)">Careers</a></li>
		</ul>
	</nav>
	<nav class="access__nav">
		<h3 class="access__subtitle">Product</h3>
		<ul class="access__list">
			<li><a class="access__link" href="javascript:void(0)">Sales software</a></li>
			<li><a class="access__link" href="javascript:void(0)">Features</a></li>
			<li><a class="access__link" href="javascript:void(0)">Privacy and security</a></li>
			<li><a class="access__link" href="javascript:void(0)">Marketplace</a></li>
			<li><a class="access__link" href="javascript:void(0)">Status</a></li>
			<li><a class="access__link" href="javascript:void(0)">API</a></li>
		</ul>
	</nav>
	<nav class="access__nav">
		<h3 class="access__subtitle">Discover</h3>
		<ul class="access__list">
			<li><a class="access__link" href="javascript:void(0)">Partner Program</a></li>
			<li><a class="access__link" href="javascript:void(0)">Get out newsletter</a></li>
			<li><a class="access__link" href="javascript:void(0)">Sales Pipeline Course</a></li>
			<li><a class="access__link" href="javascript:void(0)">What is CRM&quest;</a></li>
			<li><a class="access__link" href="javascript:void(0)">CRM Comparison</a></li>
			<li><a class="access__link" href="javascript:void(0)">Resources</a></li>
		</ul>
	</nav>
	<nav class="access__nav">
		<h3 class="access__subtitle">Help Center</h3>
		<ul class="access__list">
			<li><a class="access__link" href="javascript:void(0)">Community</a></li>
			<li><a class="access__link" href="javascript:void(0)">Knowledge Base</a></li>
			<li><a class="access__link" href="javascript:void(0)">Academy</a></li>
			<li><a class="access__link" href="javascript:void(0)">Support</a></li>
		</ul>
	</nav>
</section>
