<section class="contact">
	<div class="contact__post">
		<div class="contact__content">
			<h2 class="contact__title">Have a question&quest;<br />Our team is happy to assist you</h2>
			<p class="contact__detail">Ask about Yoora products&comma; pricing&comma; implementation&comma; or anything
				else&period; Our highly trained reps are standing by&comma; ready to help&period;</p>
		</div>
		<address class="contact__access">
			<button class="contact__btn">contact us
				<img class="contact__img--arrow" src="./assets/images/buttons/contact-arrow.svg" alt="small-arrow">
			</button>
			<p class="contact__link">Or call <a class="contact__link contact__link--number" href="tel:+1234567890">&plus;12
					3456 7890</a></p>
		</address>
	</div>
	<div class="contact__style">
		<picture class="contact__picture">
			<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/contact-picture.png">
			<img class="contact__img" src="./assets/images/avatars/mobile/contact-mobile-picture.png" alt="model-picture">
		</picture>
		<!-- <img class="contact__img--yellow" src="./assets/images/shapes/Big-yellow-shape.svg" alt="yellow-shape">
		<img class="contact__img--green" src="./assets/images/shapes/Big-green-shape.svg" alt="green-shape"> -->
	</div>
</section>
