<section class="contact">
	<div class="container contact-content">
		<div class="contact-post">
			<div class="contact-article">
				<h2 class="contact-title">Have a question&quest;<br />Our team is happy to assist you</h2>
				<p class="contact-description">Ask about Yoora products&comma; pricing&comma; implementation&comma; or anything
					else&period; Our highly trained reps are standing by&comma; ready to help&period;</p>
			</div>
			<address class="contact-access">
				<button class="contact-btn">Contact Us<span class="btn-arrow"></span>
				</button>
				<p class="contact-link">Or call <a class="contact-link contact-number" href="tel:+1234567890">&plus;12
						3456 7890</a></p>
			</address>
		</div>
		<div class="contact-design">
			<picture class="contact-img-wrapper">
				<source media="(min-width: 390px)" srcset="./assets/images/avatars/desktop/contact-picture.webp">
				<img class="contact-img" src="./assets/images/avatars/mobile/contact-mobile-picture.webp" alt="model-picture">
			</picture>
			<img class="contact-shape shape-yellow" src="./assets/images/shapes/yellow-shape.svg" alt="yellow-shape">
			<img class="contact-shape shape-green" src="./assets/images/shapes/green-shape.svg" alt="green-shape">
		</div>
	</div>
	</div>
</section>
