<section class="container contact">
	<div class="contact-content-wrapper">
		<div class="contact-content">
			<h2 class="contact-title">Have a question&quest;<br />Our team is happy to assist you</h2>
			<p class="contact-description">Ask about Yoora products&comma; pricing&comma; implementation&comma; or anything
				else&period; Our highly trained reps are standing by&comma; ready to help&period;</p>
		</div>
		<address class="contact-access">
			<button class="contact-btn">Contact Us
				<span class="btn-arrow"></span>
			</button>
			<p class="contact-link">Or call <a class="contact-link contact-number" href="tel:+1234567890">&plus;12
					3456 7890</a></p>
		</address>
	</div>
	<div class="contact-design">
		<picture>
			<source media="(min-width: 1024px)" srcset="./assets/images/avatars/desktop/contact-picture.png">
			<img class="contact-img" src="./assets/images/avatars/mobile/contact-mobile-picture.png" alt="model-picture">
		</picture>
	</div>
</section>
