<footer class="page-footer">
	<div class="container">
		<div class="footer--content-wrapper">
			<div class="footer-content content-copyright">&copy; Copyright 2022 Yoora&comma; Inc&period;</div>
			<nav class="footer-nav">
				<ul class="footer-access">
					<li><a class="footer-content content-item" href="javascript:void(0)">Terms of Service</a></li>
					<li><a class="footer-content content-item" href="javascript:void(0)">Privacy Policy</a></li>
					<li><a class="footer-content content-item" href="javascript:void(0)">Cookies</a></li>
				</ul>
			</nav>
			<div class="footer-language">
				<span class="language-logo"></span>
				<select class="footer-select" name="lang">
					<option class="select-item" value="english">English</option>
					<option class="select-item" value="vietnamese">Vietnamese</option>
					<option class="select-item" value="singapore">Singapore</option>
				</select>
			</div>
		</div>
	</div>
</footer>
