<footer class="page__footer">
	<span class="footer__copyright">&copy; Copyright 2022 Yoora&comma; Inc&period;</span>
	<nav class="footer__nav">
		<ul class="footer__access">
			<li><a class="footer__link" href="javascript:void(0)">Terms of Service</a></li>
			<li><a class="footer__link" href="javascript:void(0)">Privacy Policy</a></li>
			<li><a class="footer__link" href="javascript:void(0)">Cookies</a></li>
		</ul>
	</nav>
	<span class="footer__lang">
		<span class="select__logo">
			<img class="select__global" src="./assets/images/logos/global-logo.svg" alt="global-logo">
		</span>
		<select class="footer__select" name="lang">
			<option class="footer__option" value="english">English</option>
			<option class="footer__option" value="vietnamese">Vietnamese</option>
			<option class="footer__option" value="singapore">Singapore</option>
		</select>
	</span>
</footer>
