<header class="page-header">
	<div class="container">
		<div class="header-navbar-wrapper">
			<div class="header-logo-wrapper">
				<a href="javascript:void(0)">
					<img class="header-logo" src="./assets/images/logos/header-logo.svg" alt="main-logo">
				</a>
			</div>
			<nav class="header-navbar">
				<ul class="navbar-list">
					<li><a class="navbar-item" href="javascript:void(0)">Product</a></li>
					<li><a class="navbar-item" href="javascript:void(0)">Pricing</a></li>
					<li><a class="navbar-item" href="javascript:void(0)">Company</a></li>
					<li><a class="navbar-item" href="javascript:void(0)">Recource</a></li>
					<li><a class="navbar-item" href="javascript:void(0)">Contact</a></li>
				</ul>
			</nav>
			<div class="cta-btn-wrapper">
				<button class="cta-btn btn-login" type="button">Log In</button>
				<button class="cta-btn btn-tryfree" type="button">Try for Free</button>
			</div>
			<button class="menu-toggle">
				<span class="toggle-line"></span>
				<span class="toggle-line"></span>
				<span class="toggle-line"></span>
			</button>
		</div>
	</div>
</header>
