<header class="header">
	<a href="javascript:void(0)">
		<img class="header__logo" src="./assets/images/logos/header-logo.svg" alt="Yoora-logo">
	</a>
	<!-- <nav class="header__nav">
		<ul class="header__menu">
			<li><a class="header__item" href="javascript:void(0)">Product</a></li>
			<li><a class="header__item" href="javascript:void(0)">Pricing</a></li>
			<li><a class="header__item" href="javascript:void(0)">Company</a></li>
			<li><a class="header__item" href="javascript:void(0)">Recource</a></li>
			<li><a class="header__item" href="javascript:void(0)">Contact</a></li>
		</ul>
		<button class="header__btn--login">Log in</button>
		<button class="header__btn--try">Try for free</button>
	</nav> -->
	<span class="header__menu">
		<img class="header__hamburger" src="./assets/images/buttons/menu-hamburger.svg" alt="hamburger-btn">
	</span>
</header>
