<header class="container page__header">
	<div class="header__logo-wrap">
		<a href="javascript:void(0)">
			<img class="header__logo" src="./assets/images/logos/header-logo.svg" alt="Yoora-logo">
		</a>
	</div>
	<nav class="header__navbar">
		<!-- <ul class="header__menu">
			<li><a class="header__item" href="javascript:void(0)">Product</a></li>
			<li><a class="header__item" href="javascript:void(0)">Pricing</a></li>
			<li><a class="header__item" href="javascript:void(0)">Company</a></li>
			<li><a class="header__item" href="javascript:void(0)">Recource</a></li>
			<li><a class="header__item" href="javascript:void(0)">Contact</a></li>
		</ul> -->
		<button class="header__navbar--toggle" type="button">
			<span class="toggle-line"></span>
			<span class="toggle-line"></span>
			<span class="toggle-line"></span>
		</button>
		<!-- <div class="header__btn-wrap">
			<button class="header__btn header__btn--login" type="button">Log in</button>
			<button class="header__btn header__btn--try" type="button">Try for free</button>
		</div> -->
	</nav>
</header>
