<section class="hero">
	<div class="container">
		<div class="hero-content">
			<h1 class="hero-title">We build bridges between
				<span class="hero-title hero-title-custom">companies and customers</span>
			</h1>
			<p class="hero-description">To build software that gives customer&minus;facing teams at small&minus;and
				medium&minus;sized
				businesses the ability to create fruitful and enduring relationships with customers&period;</p>
		</div>
		<picture class="hero-image-wrapper">
			<source media="(min-width: 390px)" srcset="./assets/images/communities/desktop/communities.webp">
			<img class="hero-image" src="./assets/images/communities/mobile/communities-mobile-img.webp"
				alt="communities-image">
		</picture>
	</div>
</section>
