<section class="introduce">
	<div class="container">
		<div class="introduce-content">
			<h2 class="introduce-title">Together we are strong</h2>
			<article class="introduce-post">
				<h3 class="introduce-subtitle">Our crew is always getting bigger&comma; but we all work toward one goal&colon;
					to
					make sales success not
					only possible but inevitable for teams everywhere&period;</h3>
				<p class="introduce-description">In 2022&comma; at vero eos et accusamus et iusto odio dignissimos ducimus qui
					blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
					occaecati cupiditate non provident&comma; similique sunt in culpa qui officia deserunt mollitia animi&comma;
					id
					est
					laborum et dolorum fuga&period; Et harum quidem rerum facilis est et expedita distinctio&period; Nam libero
					tempore, cum
					soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus&comma;
					omnis voluptas assumenda est&comma; omnis dolor repellendus&period; Temporibus autem quibusdam et aut officiis
					debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
					recusandae&period; Itaque earum rerum hic tenetur a sapiente delectus&comma; ut aut reiciendis voluptatibus
					maiores alias consequatur aut perferendis doloribus asperiores repellat&period;</p>
			</article>
			<article class="introduce-nametag">
				<div class="nametag-image-wrapper">
					<img class="nametag-image" src="./assets/images/avatars/mobile/Brandon-small-mobile-avt.svg" alt="CEO-img">
				</div>
				<div class="nametag-info">
					<h4 class="nametag-item nametag-name">Brandon Shaw</h4>
					<p class="nametag-item nametag-job">Founder &amp; CEO</p>
				</div>
			</article>
			<blockquote class="introduce-quote">&quot;Our goal is to build software that gives customer&minus;facing teams at
				SMBs the ability to create
				fruitful and enduring relationships with customers&period;&quot;</blockquote>
		</div>
		<aside class="introduce-aside">
			<div class="aside-item">
				<p class="aside-description">Team member vero eos et accusamus et iusto odio dignissimos ducimus qui
					blanditiis^&period;</p>
				<p class="aside-number">290&plus;</p>
			</div>
			<div class="aside-item">
				<p class="aside-description">Year experience vero eos et accusamus dignissimos ducimus qui blanditiis
					praesentium&period;</p>
				<p class="aside-number">12&plus;</p>
			</div>
			<div class="aside-item">
				<p class="aside-description">Lovely customers vero eos et accusamus et iusto odio qui blanditiis praesentium&period;</p>
				<p class="aside-number">20K&plus;</p>
			</div>
		</aside>
	</div>
</section>
