<section class="introduce">
	<div class="introduce__content">
		<h2 class="introduce__title">Together we are strong</h2>
		<article class="introduce__post">
			<h3 class="introduce__subtitle">Our crew is always getting bigger&comma; but we all work toward one goal&colon; to
				make sales success not
				only possible but inevitable for teams everywhere&period;</h3>
			<p class="introduce__detail">In 2022&comma; at vero eos et accusamus et iusto odio dignissimos ducimus qui
				blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
				occaecati cupiditate non provident&comma; similique sunt in culpa qui officia deserunt mollitia animi&comma; id
				est
				laborum et dolorum fuga&period; Et harum quidem rerum facilis est et expedita distinctio&period; Nam libero
				tempore, cum
				soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus&comma;
				omnis voluptas assumenda est&comma; omnis dolor repellendus&period; Temporibus autem quibusdam et aut officiis
				debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
				recusandae&period; Itaque earum rerum hic tenetur a sapiente delectus&comma; ut aut reiciendis voluptatibus
				maiores alias consequatur aut perferendis doloribus asperiores repellat&period;</p>
		</article>
		<article class="introduce__tag">
			<img class="introduce__avt" src="./assets/images/avatars/Brandon-small-avt.svg" alt="CEO-img">
			<div class="introduce__info">
				<h4 class="introduce__name">Brandon Shaw</h4>
				<p class="introduce__job">Founder &amp; CEO</p>
			</div>
		</article>
		<blockquote class="introduce__quote">&quot;Our goal is to build software that gives customer&minus;facing teams at
			SMBs the ability to create
			fruitful and enduring relationships with customers&period;&quot;</blockquote>
	</div>
	<aside class="introduce__aside">
		<div class="aside__item">
			<p class="aside__content">Team member vero eos et accusamus et iusto odio dignissimos ducimus qui
				blanditiis^&period;</p>
			<p class="aside__number">290&plus;</p>
		</div>
		<div class="aside__item">
			<p class="aside__content">Year experience vero eos et accusamus dignissimos ducimus qui blanditiis
				praesentium&period;</p>
			<p class="aside__number">12&plus;</p>
		</div>
		<div class="aside__item">
			<p class="aside__content">Lovely customers vero eos et accusamus et iusto odio qui blanditiis praesentium. </p>
			<p class="aside__number">20K&plus;</p>
		</div>
	</aside>
</section>
