<section class="container member">
	<h2 class="member-title">Meet our amazing team</h2>
	<div class="member-content">
		<article class="member-card member-card-1">
			<picture>
				<source media="(min-width: 1024px)" srcset="./assets/images/avatars/desktop/Brandon-1024-avt.png">
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Brandon-avt.png">
				<img class="member-avt" src="./assets/images/avatars/mobile/Brandon-mobile-avt.png" alt="Brandon-avatar">
			</picture>
			<h3 class="member-name">Brandon Shaw</h3>
			<p class="member-job">Founder &amp; CEO</p>
		</article>
		<article class="member-card member-card-2">
			<picture>
				<source media="(min-width: 1024px)" srcset="./assets/images/avatars/desktop/Floyd-1024-avt.png">
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Floyd-avt.png">
				<img class="member-avt" src="./assets/images/avatars/mobile/Floyd-mobile-avt.png" alt="Floyd-avatar">
			</picture>
			<h3 class="member-name">Floyd Stephens</h3>
			<p class="member-job">Chief Technology Officer</p>
		</article>
		<article class="member-card member-card-3">
			<picture>
				<source media="(min-width: 1024px)" srcset="./assets/images/avatars/desktop/Kate-1024-avt.png">
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Kate-avt.png">
				<img class="member-avt" src="./assets/images/avatars/mobile/Kate-mobile-avt.png" alt="Kate-avatar">
			</picture>
			<h3 class="member-name">Kate Clark</h3>
			<p class="member-job">Director of People</p>
		</article>
		<article class="member-card member-card-4">
			<picture>
				<source media="(min-width: 1024px)" srcset="./assets/images/avatars/desktop/Eunice-1024-avt.png">
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Eunice-avt.png">
				<img class="member-avt" src="./assets/images/avatars/mobile/Eunice-mobile-avt.png" alt="Eunice-avatar">
			</picture>
			<h3 class="member-name">Eunice Doyle</h3>
			<p class="member-job">Software Engineer</p>
		</article>
		<article class="member-card member-card-5">
			<picture>
				<source media="(min-width: 1024px)" srcset="./assets/images/avatars/desktop/Virginia-1024-avt.png">
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Virginia-avt.png">
				<img class="member-avt" src="./assets/images/avatars/mobile/Virginia-mobile-avt.png" alt="Virginia-avatar">
			</picture>
			<h3 class="member-name">Virginia Aguilar</h3>
			<p class="member-job">Software Engineer</p>
		</article>
		<article class="member-card member-card-6">
			<picture>
				<source media="(min-width: 1024px)" srcset="./assets/images/avatars/desktop/Jeffrey-1024-avt.png">
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Jeffrey-avt.png">
				<img class="member-avt" src="./assets/images/avatars/mobile/Jeffrey-mobile-avt.png" alt="Jeffrey-avatar">
			</picture>
			<h3 class="member-name">Jeffrey Goodwin</h3>
			<p class="member-job">Sr Manager&comma; Content and Growth</p>
		</article>
		<article class="member-card member-card-7">
			<picture>
				<source media="(min-width: 1024px)" srcset="./assets/images/avatars/desktop/Beatrice-1024-avt.png">
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Beatrice-avt.png">
				<img class="member-avt" src="./assets/images/avatars/mobile/Beatrice-mobile-avt.png" alt="Breatrice-avatar">
			</picture>
			<h3 class="member-name">Beatrice Williamson</h3>
			<p class="member-job">Product Designer</p>
		</article>
		<article class="member-card member-card-8">
			<picture>
				<source media="(min-width: 1024px)" srcset="./assets/images/avatars/desktop/Roger-1024-avt.png">
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Roger-avt.png">
				<img class="member-avt" src="./assets/images/avatars/mobile/Roger-mobile-avt.png" alt="Roger-avatar">
			</picture>
			<h3 class="member-name">Roger Dawson</h3>
			<p class="member-job">Senior Account Executive</p>
		</article>
	</div>
</section>
