<section class="member">
	<div class="container">
		<h2 class="member-title">Meet our amazing team</h2>
		<div class="member-content">
			<article class="member-card">
				<picture>
					<source media="(min-width: 576px)" srcset="./assets/images/avatars/desktop/Brandon-avt.webp">
					<img class="member-avt" src="./assets/images/avatars/mobile/Brandon-mobile-avt.webp" alt="Brandon-avatar">
				</picture>
				<h3 class="member-name">Brandon Shaw</h3>
				<p class="member-job">Founder &amp; CEO</p>
			</article>
			<article class="member-card">
				<picture>
					<source media="(min-width: 576px)" srcset="./assets/images/avatars/desktop/Floyd-avt.webp">
					<img class="member-avt" src="./assets/images/avatars/mobile/Floyd-mobile-avt.webp" alt="Floyd-avatar">
				</picture>
				<h3 class="member-name">Floyd Stephens</h3>
				<p class="member-job">Chief Technology Officer</p>
			</article>
			<article class="member-card">
				<picture>
					<source media="(min-width: 576px)" srcset="./assets/images/avatars/desktop/Kate-avt.webp">
					<img class="member-avt" src="./assets/images/avatars/mobile/Kate-mobile-avt.webp" alt="Kate-avatar">
				</picture>
				<h3 class="member-name">Kate Clark</h3>
				<p class="member-job">Director of People</p>
			</article>
			<article class="member-card">
				<picture>
					<source media="(min-width: 576px)" srcset="./assets/images/avatars/desktop/Eunice-avt.webp">
					<img class="member-avt" src="./assets/images/avatars/mobile/Eunice-mobile-avt.webp" alt="Eunice-avatar">
				</picture>
				<h3 class="member-name">Eunice Doyle</h3>
				<p class="member-job">Software Engineer</p>
			</article>
			<article class="member-card">
				<picture>
					<source media="(min-width: 576px)" srcset="./assets/images/avatars/desktop/Virginia-avt.webp">
					<img class="member-avt" src="./assets/images/avatars/mobile/Virginia-mobile-avt.webp" alt="Virginia-avatar">
				</picture>
				<h3 class="member-name">Virginia Aguilar</h3>
				<p class="member-job">Software Engineer</p>
			</article>
			<article class="member-card">
				<picture>
					<source media="(min-width: 576px)" srcset="./assets/images/avatars/desktop/Jeffrey-avt.webp">
					<img class="member-avt" src="./assets/images/avatars/mobile/Jeffrey-mobile-avt.webp" alt="Jeffrey-avatar">
				</picture>
				<h3 class="member-name">Jeffrey Goodwin</h3>
				<p class="member-job">Sr Manager&comma; Content and Growth</p>
			</article>
			<article class="member-card">
				<picture>
					<source media="(min-width: 576px)" srcset="./assets/images/avatars/desktop/Beatrice-avt.webp">
					<img class="member-avt" src="./assets/images/avatars/mobile/Beatrice-mobile-avt.webp" alt="Breatrice-avatar">
				</picture>
				<h3 class="member-name">Beatrice Williamson</h3>
				<p class="member-job">Product Designer</p>
			</article>
			<article class="member-card">
				<picture>
					<source media="(min-width: 576px)" srcset="./assets/images/avatars/desktop/Roger-avt.webp">
					<img class="member-avt" src="./assets/images/avatars/mobile/Roger-mobile-avt.webp" alt="Roger-avatar">
				</picture>
				<h3 class="member-name">Roger Dawson</h3>
				<p class="member-job">Senior Account Executive</p>
			</article>
		</div>
	</div>
</section>
