<section class="member">
	<h2 class="member__title">Meet our amazing team</h2>
	<div class="member__content">
		<article class="member__card">
			<picture>
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Brandon-avt.png">
				<img class="member__avt" src="./assets/images/avatars/mobile/Brandon-mobile-avt.png" alt="Brandon-avatar">
			</picture>
			<h3 class="member__name">Brandon Shaw</h3>
			<p class="member__job">Founder &comma; CEO</p>
		</article>
		<article class="member__card">
			<picture>
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Floyd-avt.png">
				<img class="member__avt" src="./assets/images/avatars/mobile/Floyd-mobile-avt.png" alt="Floyd-avatar">
			</picture>
			<h3 class="member__name">Floyd Stephens</h3>
			<p class="member__job">Chief Technology Officer</p>
		</article>
		<article class="member__card">
			<picture>
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Kate-avt.png">
				<img class="member__avt" src="./assets/images/avatars/mobile/Kate-mobile-avt.png" alt="Kate-avatar">
			</picture>
			<h3 class="member__name">Kate Clark</h3>
			<p class="member__job">Director of People</p>
		</article>
		<article class="member__card">
			<picture>
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Eunice-avt.png">
				<img class="member__avt" src="./assets/images/avatars/mobile/Eunice-mobile-avt.png" alt="Eunice-avatar">
			</picture>
			<h3 class="member__name">Eunice Doyle</h3>
			<p class="member__job">Software Engineer</p>
		</article>
		<article class="member__card">
			<picture>
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Virginia-avt.png">
				<img class="member__avt" src="./assets/images/avatars/mobile/Virginia-mobile-avt.png" alt="Virginia-avatar">
			</picture>
			<h3 class="member__name">Virginia Aguilar</h3>
			<p class="member__job">Software Engineer</p>
		</article>
		<article class="member__card">
			<picture>
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Jeffrey-avt.png">
				<img class="member__avt" src="./assets/images/avatars/mobile/Jeffrey-mobile-avt.png" alt="Jeffrey-avatar">
			</picture>
			<h3 class="member__name">Jeffrey Goodwin</h3>
			<p class="member__job">Sr Manager&comma; Content and Growth</p>
		</article>
		<article class="member__card">
			<picture>
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Beatrice-avt.png">
				<img class="member__avt" src="./assets/images/avatars/mobile/Beatrice-mobile-avt.png" alt="Breatrice-avatar">
			</picture>
			<h3 class="member__name">Beatrice Williamson</h3>
			<p class="member__job">Product Designer</p>
		</article>
		<article class="member__card">
			<picture>
				<source media="(min-width: 1200px)" srcset="./assets/images/avatars/desktop/Roger-avt.png">
				<img class="member__avt" src="./assets/images/avatars/mobile/Roger-mobile-avt.png" alt="Roger-avatar">
			</picture>
			<h3 class="member__name">Roger Dawson</h3>
			<p class="member__job">Senior Account Executive</p>
		</article>
	</div>
</section>
