<section class="recruit">
	<div class="container recruit-content">
		<h2 class="recruit-title">Join our team</h2>
		<div class="recruit-access">
			<p class="recruit-description">We believe it takes great people to make a great product&period; That&apos;s why we
				hire not only the perfect professional fits&comma; but people who embody our company values&period;</p>
			<button class="recruit-btn" type="button">See open positions
				<span class="recruit-btn-green"></span>
			</button>
		</div>
	</div>
</section>
