<section class="recruit">
	<h2 class="recruit__title">Join our team</h2>
	<div class="recruit__content">
		<p class="recruit__detail">We believe it takes great people to make a great product&period; That&apos;s why we hire
			not only the perfect professional fits&comma; but people who embody our company values&period;</p>
		<button class="recruit__btn">See open positions
			<span class="recruit__btn--green">
				<img class="recruit__btn__img" src="./assets/images/buttons/green-arr-btn.svg" alt="greeb-arrow">
			</span>
		</button>
	</div>
</section>
