.header {
	width: var(--max-width);
	height: 100px;
	max-width: var(--max-width);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.logoIcon {
	width: 85px;
	height: 76px;
	margin: 0 0 0 70px;
	cursor: pointer;
}

/*------------------------------------*\
  BULD FORM-LOOKUP
\*------------------------------------*/

.formLookup {
	display: flex;
	margin: 30px 0 26px 70px;
}

.form-input {
	border: 1px solid var(--primary-color);
	background: #FCFCFC;
	height: 44px;
}

.form-input-locate {
	display: flex;
	border-radius: 10px 0px 0px 10px;
	width: 152px;
	/*Border stacking*/
	margin: 0 -1px 0 0;
}

.locateIcon {
	width: 11px;
	height: 18px;
	margin: 17px 14px 8px 12px;
}

.inputLocate {
	width: 60px;
	height: 23px;
	margin: 11px 58px 10px 0;
	background-color: blue;
}

.form-input-other {
	display: flex;
	border-radius: 0px 10px 10px 0px;
	width: 428px;
}

.glassIcon {
	width: 17px;
	height: 18px;
	margin: 17px 10px 8px 19px;
}

.inputOther {
	width: 260px;
	height: 23px;
	margin: 11px 122px 10px 0;
}

.form-input-content {
	border: none;
	font-family: Open Sans-regular;
	font-size: 14px;
	line-height: 22px;
	outline: none;
	background-color: transparent;
	font-style: normal;
}

.form-input-content::placeholder {
	color: var(--disabled);
}

/*------------------------------------*\
  BUILD NAVIGATION
\*------------------------------------*/

.navPrimary-list {
	display: flex;
	text-decoration: none;
	padding: 41px 78px 40px 43px;
	gap: 44px;
}

.navPrimary-list-content {
	text-decoration: none;
	color: #545454;
	font-family: Open Sans-regular;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	cursor: pointer;
	transition: 0.5s;
}

.navPrimary-list-content:hover {
	font-weight: bold;
	color: orange;
	text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
		1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.signupIcon {
	width: 47px;
	height: 53.979px;
	margin: 26px 107px 20px 0;
	cursor: pointer;
	transition: 0.2s;
}

.signupIcon:hover {
	transform: scale(1.1);
}

.signupIcon:active {
	transform: scale(0.5);
}