/*base css*/
@import url(./typo.css);
@import url(./variables.css);

/*------------------------------------*\
  ALIGN HEAD LAYOUT
\*------------------------------------*/

.header-container {
	width: var(--max-width);
	margin: 0 auto;
	display: flex;
}

.header-wrapper {
	width: 100%;
	height: 100px;
	max-width: var(--max-width);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.primary-icon {
	display: flex;
	width: 85px;
	height: 76px;
	margin: 0 0 0 70px;
	cursor: pointer;
}

/*------------------------------------*\
  BULD FORM-INPUT
\*------------------------------------*/

.input-wrapper {
	display: flex;
	margin: 30px 0 26px 70px;
}

.form-input {
	border: 1px solid var(--primary-color);
	background: #FCFCFC;
	height: 44px;
}

.locate-box {
	border-radius: 10px 0px 0px 10px;
	width: 152px;
	margin-right: -1px;
	/*stacking borders*/
	display: flex;
}

.locate-icon {
	width: 11px;
	height: 17.455px;
	margin: 18px 14px 8.54px 12px;
}

.locate-input {
	width: 60px;
	height: 23px;
	margin: 11px 58px 10px 0;
	background-color: blue;
}

.search-box {
	border-radius: 0px 10px 10px 0px;
	width: 428px;
	display: flex;
}

.search-icon {
	width: 17px;
	height: 18.546px;
	margin: 18px 10px 7.45px 19px;
}

.search-input {
	width: 260px;
	height: 23px;
	margin: 11px 122px 10px 0;
}

.input-styles {
	border: none;
	font-family: Open Sans-regular;
	font-size: 14px;
	line-height: 22.4px;
	letter-spacing: 0.105px;
	outline: none;
	background-color: transparent;
	font-style: normal;
}

.input-styles::placeholder {
	color: var(--disabled);
}

/*------------------------------------*\
  BUILD NAVIGATION
\*------------------------------------*/

.nav-wrapper {
	display: flex;
	justify-content: flex-start;
	text-decoration: none;
	padding: 41px 78px 40px 43px;
	display: flex;
	gap: 44px;
}

.nav-content {
	text-decoration: none;
	color: #545454;
	font-family: Open Sans-regular;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	cursor: pointer;
	transition: 0.5s;
}

.nav-content:hover {
	font-weight: bold;
	color: orange;
	text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
		1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.signup-icon {
	display: flex;
	width: 47px;
	height: 53.979px;
	flex-shrink: 0;
	margin: 26.18px 107px 19.84px 0;
	cursor: pointer;
	transition: 0.2s;
}

.signup-icon:hover {
	transform: scale(1.1);
}

.signup-icon:active {
	transform: scale(0.5);
}