@font-face {
	font-family: Open Sans-Bold;
	src: url(/src/assets/fonts/OpenSans-Bold-700.ttf) format("truetype");
}

@font-face {
	font-family: Open Sans-SemiBold;
	src: url(/src/assets/fonts/OpenSans-SemiBold-600.ttf) format("truetype");
}

@font-face {
	font-family: Open Sans-Regular;
	src: url(/src/assets/fonts/OpenSans-Regular-400.ttf) format("truetype");
}

@font-face {
	font-family: Epilogue-Bold;
	src: url(/src/assets/fonts/Epilogue-Black-900.ttf) format("truetype");
}

@font-face {
	font-family: Epilogue-SemiBold;
	src: url(/src/assets/fonts/Epilogue-SemiBold-600.ttf) format("truetype");
}

@font-face {
	font-family: Epilogue-Regular;
	src: url(/src/assets/fonts/Epilogue-Regular-400.ttf) format("truetype");
}

@font-face {
	font-family: Montserrat-Regular;
	src: url(/src/assets/fonts/Montserrat-Regular-400.ttf) format("truetype");
}

@font-face {
	font-family: Roboto-Bold;
	src: url(/src/assets/fonts/Roboto-Bold-700.ttf) format("truetype");
}

@font-face {
	font-family: Roboto-Regular;
	src: url(/src/assets/fonts/Roboto-Regular-400.ttf) format("truetype");
}

@font-face {
	font-family: Roboto-Light;
	src: url(/src/assets/fonts/Roboto-Light-300.ttf) format("truetype");
}

@font-face {
	font-family: FjallaOne-Regular;
	src: url(/src/assets/fonts/FjallaOne-Regular-400.ttf) format("truetype");
}