.container {
    background-color: grey;
}

div h1 {
    background-color: rgb(30, 216, 46);
}

div h2 {
    background-color: rgb(219, 19, 53);
}

div p {
    background-color: aqua;
    padding: 2em;
}