* {
    box-sizing: border-box;
}

.heading-large {
    color: red;
}

ul.poets {
    list-style: inside url(../assets/images/plus.png);
}

.title-resis {
    font-style: italic;
}

.accounts {
    margin: 10px;
}

.dropdown-citys {
    margin: 1em;
}

.table-content {
    width: 600px;
}

.checkbox {
    background-color: rgb(225, 225, 225);
}

th,
td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(180, 217, 252);
}