* {
  box-sizing: border-box;
  text-shadow: 5px 2px 2px grey;
}

.heading-large {
  font-family: cursive;
  font-size: 3em;
  line-height: 0.7em;
}

.heading-small {
  font-family: monospace;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.content {
  font-family: sans-serif;
  font-weight: 800;
}

.heading-small {
  font-size: 2em;
  line-height: 0.1em;
}


.heading-large,
.heading-small,
span {
  color: blue;
}

.author {
  font-style: italic;
  text-align: right;
}

.heading-large::first-letter {
  font-size: 100px;
}

.content::first-line {
  background-color: yellow;
}

.link-search:link {
  color: blue;
}

.link-search:hover {
  font-size: 20px;
  color: palevioletred;
}

.link-search:active {
  color: red;
}