* {
  box-sizing: border-box;
  text-shadow: 5px 2px 2px grey;
}

h1 {
  font-family: cursive;
  font-size: 3em;
  line-height: 0.7em;
}

#topTitle {
  font-family: monospace;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#content {
  font-family: sans-serif;
  font-weight: 800;
}

h4 {
  font-size: 2em;
  line-height: 0.1em;
}

main>p {
  font-family: sans-serif;
}

h1, #topTitle, span, h4 {
  color: blue;
}

.author {
  font-style: italic;
  text-align: right;
}

h1::first-letter {
  font-size: 100px;
}

#content::first-line {
  background-color: yellow;
}

a:link {
  color: blue;
}

a:hover {
  font-size: 20px;
  color: palevioletred;
}

a:active {
  color: red;
}